<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content" *ngFor="let details of getAlldetails">
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Advanced Details
              </h3>
            </div>
            <div class="col-2">
              <span class="edit-icon" style="cursor: pointer;" (click)="updateProfile(details._id)"><i
                  style="font-size: 11px;color: white;" class="fa fa-pencil"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="register-form">
              <div class="single-row">
                <label for="">Key Skills :</label>
                <div class="content-box">
                  <p>{{details.keyskill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Date of Birth :</label>
                <div class="content-box">
                  <p>{{details.dob}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Salary Range :</label>
                <div class="content-box">
                  <p>{{details.expectedctc}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Range :</label>
                <div class="content-box">
                  <p>{{details.currentctc}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Experience :</label>
                <div class="content-box">
                  <p>{{details.experienceYear}}.{{details.experienceMonth}} Year</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Permanent Location:</label>
                <div class="content-box">
                  <p>{{details.locationCurrent}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Location :</label>
                <div class="content-box">
                  <p>{{details.locationNative}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Notice Periods :</label>
                <div class="content-box">
                  <p>{{details.noticeperiod}} days</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Skill Set :</label>
                <div class="content-box">
                  <p>{{details.currentSkill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Preferred Skill Set :</label>
                <div class="content-box">
                  <p>{{details.preferredSkill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Gender :</label>
                <div class="content-box">
                  <p>{{details.gender}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marital Status :</label>
                <div class="content-box">
                  <p>{{details.maritalStatus}}</p>
                </div>
              </div>
              <div class="single-row d-flex align-items-start">
                <label for="">Language :</label>
                <div class="content-box d-flex flex-wrap align-items-start">
                  <div class="tamil d-flex row col-12 flex-wrap align-items-start"
                    *ngFor="let lan of details.languages">
                    <p class="col-3">{{lan.lang}}</p>

                    <div class="select col-3 d-flex align-item-center">
                      <i *ngIf="lan.know == 'Speck'"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                            fill="#00FF44" />
                        </svg>
                      </i>
                      <i *ngIf="lan.know == ''"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM8 6.8688L10.2624 4.6056L11.3944 5.7376L9.1312 8L11.3944 10.2624L10.2624 11.3944L8 9.1312L5.7376 11.3944L4.6056 10.2624L6.8688 8L4.6056 5.7376L5.7376 4.6056L8 6.8688Z"
                            fill="#FF0000" />
                        </svg>
                      </i><label>Speak</label>
                    </div>
                    <div class="select col-3  d-flex align-item-center">
                      <i *ngIf="lan.know[0] == 'Read'"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                            fill="#00FF44" />
                        </svg>
                      </i>
                      <i *ngIf="lan.know[0] == ''"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM8 6.8688L10.2624 4.6056L11.3944 5.7376L9.1312 8L11.3944 10.2624L10.2624 11.3944L8 9.1312L5.7376 11.3944L4.6056 10.2624L6.8688 8L4.6056 5.7376L5.7376 4.6056L8 6.8688Z"
                            fill="#FF0000" />
                        </svg>
                      </i><label>Read {{lan.know[2]}}</label>
                    </div>
                    <div class="select col-3  d-flex align-item-center">
                      <i *ngIf="lan.know[2] == 'Speck'"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                            fill="#00FF44" />
                        </svg>
                      </i>
                      <i *ngIf="lan.know[2] == ''"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM8 6.8688L10.2624 4.6056L11.3944 5.7376L9.1312 8L11.3944 10.2624L10.2624 11.3944L8 9.1312L5.7376 11.3944L4.6056 10.2624L6.8688 8L4.6056 5.7376L5.7376 4.6056L8 6.8688Z"
                            fill="#FF0000" />
                        </svg>
                      </i><label>Write</label>
                    </div>
                  </div>
                  <!-- <div class="english  d-flex row col-12 flex-wrap align-items-start">
                    <p class="col-3">English</p>

                    <div class="select col-3 d-flex align-item-center">
                      <i> <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                            fill="#00FF44" />
                        </svg>
                      </i><label>Speak</label>
                    </div>
                    <div class="select col-3  d-flex align-item-center">
                      <i><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                            fill="#00FF44" />
                        </svg>
                      </i><label>Read</label>
                    </div>
                    <div class="select col-3  d-flex align-item-center">
                      <label>Write</label>
                    </div>
                  </div> -->

                </div>

              </div>
            </div>
          </div>
          <!-- education details -->
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Education Details</h3>
            </div>
            <div class="col-2">
              <span class=" edit-icon" (click)="gotoEdu(details._id)"><i style="font-size: 11px;color: white;" class="fa fa-pencil"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="register-form">
              <h5 class="m-auto mb-4">Education Details :</h5>
              <div class="single-row">
                <label for="">Qualification :</label>
                <div class="content-box">
                  <p>{{details.drQualification}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">University :</label>
                <div class="content-box">
                  <p>{{details.drUniversity}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Specification :</label>
                <div class="content-box">
                  <p>{{details.drSpecialization}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course :</label>
                <div class="content-box">
                  <p>{{details.drcourses}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Grading System :</label>
                <div class="content-box">
                  <p>{{details.drGradingSystem}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marks :</label>
                <div class="content-box">
                  <p>{{details.drMarks}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course Type :</label>
                <div class="content-box">
                  <p>{{details.drCourseType}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Passed Out Year :</label>
                <div class="content-box">
                  <p>{{details.drCourseDurationFrom}}-{{details.drCourseDurationTo}}</p>
                </div>
              </div>
              <button>remove</button>
              <h5 class="m-auto mb-4 mt-4">Education Details 2 :</h5>
              <div class="single-row">
                <label for="">Qualification :</label>
                <div class="content-box">
                  <p>{{details.pgQualification}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">University :</label>
                <div class="content-box">
                  <p>{{details.pgUniversity}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Specification :</label>
                <div class="content-box">
                  <p>{{details.pgSpecialization}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course :</label>
                <div class="content-box">
                  <p>{{details.pgCourse}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Grading System :</label>
                <div class="content-box">
                  <p>{{details.pgGradingSystem}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marks :</label>
                <div class="content-box">
                  <p>{{details.pgMarks}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course Type :</label>
                <div class="content-box">
                  <p>{{details.pgCourseType}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Passed Out Year :</label>
                <div class="content-box">
                  <p>{{details.pgCourseDurationFrom}}-{{details.pgCourseDurationTo}}</p>
                </div>
              </div>
              <button>remove</button>
              <h5 class="m-auto mb-4 mt-4">Education Details 3 :</h5>
              <div class="single-row">
                <label for="">Qualification :</label>
                <div class="content-box">
                  <p>{{details.ugQualification}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">University :</label>
                <div class="content-box">
                  <p>{{details.ugUniversity}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Specification :</label>
                <div class="content-box">
                  <p>{{details.ugSpecialization}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course :</label>
                <div class="content-box">
                  <p>{{details.ugCourse}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Grading System :</label>
                <div class="content-box">
                  <p>{{details.ugGradingSystem}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marks :</label>
                <div class="content-box">
                  <p>{{details.ugMarks}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Course Type :</label>
                <div class="content-box">
                  <p>{{details.ugCourseType}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Passed Out Year :</label>
                <div class="content-box">
                  <p>{{details.ugCourseDurationFrom}}-{{details.ugCourseDurationTo}}</p>
                </div>
              </div>
              <button>remove</button>
              <h5 class="m-auto mb-4 mt-4">Education Details 4 :</h5>
              <div class="single-row">
                <label for="">Qualification :</label>
                <div class="content-box">
                  <p>{{details.hsBoard}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Board :</label>
                <div class="content-box">
                  <p>{{details.hsBoard}}</p>
                </div>
              </div>

              <div class="single-row">
                <label for="">Medium :</label>
                <div class="content-box">
                  <p>{{details.hsMedium}}</p>
                </div>
              </div>

              <div class="single-row">
                <label for="">Marks :</label>
                <div class="content-box">
                  <p>{{details.hstotalmarks}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Passed Out Year :</label>
                <div class="content-box">
                  <p>{{details.hsPassedYear}}</p>
                </div>
              </div>
              <button >remove</button>
              <h5 class="m-auto mb-4 mt-4">Education Details 4 :</h5>
              <div class="single-row">
                <label for="">Qualification :</label>
                <div class="content-box">
                  <p>{{details.sslcQualification}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Board :</label>
                <div class="content-box">
                  <p>{{details.hsBoard}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Medium :</label>
                <div class="content-box">
                  <p>{{details.sslcMedium}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marks :</label>
                <div class="content-box">
                  <p>{{details.sslctotalmarks}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Passed out Year :</label>
                <div class="content-box">
                  <p>{{details.sslcPassedYear}}</p>
                </div>
              </div>
              <button>remove</button>
              <!-- professional details -->
              <div class="row">
                <div class="col-2"></div>
                <div class="col">
                  <h3>Professional Details</h3>
                </div>
                <div class="col-2">
                  <span class="edit-icon"><i style="font-size: 11px;color: white;" class="fa fa-pencil" (click)="gotoProffistional(details._id)"></i></span>
                </div>
              </div>
              <div class="row">
                <div class="register-form">
                  <div class="single-row">
                    <label for="">Current Industry :</label>
                    <div class="content-box">
                      <p>{{details.industry}}
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Current Department :</label>
                    <div class="content-box">
                      <p>{{details.department}}</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Role Category :</label>
                    <div class="content-box">
                      <p>{{details.roleCategory
                      }}</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Job Role :</label>
                    <div class="content-box">
                      <p>{{details.role}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="single-row  mt-5 mb-5">
                <label for=""> </label>
                <div class="content-box">
                  <button type="submit" class="btn btn-brand-blue mb-2">Log In</button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
