<div class="container-fluid register" [formGroup]="searchForm">
  <div class="row">
    <div class="col-2 ad-image">


      <div class="row">
        <div class="col">
          <img src="../../assets/image/myaccountimg1.png" alt="">

        </div>
      </div>


    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col search-box-wrap">

          <div class="advanced-search-wrap ">

            <div class="search-boxs">

              <div class="search-box first-search-box">
                <input type="text" class="form-control" placeholder="Enter Designation / Key skills"  (keyup)="dispalye($event)" formControlName="searchbox">
                <div class="" *ngIf="isDisplay" style="margin-top:0px;">
                  <label></label>
                  <div class="content-box keylist" style="background: white;">
                    <ul class="ulkeylist" style="padding-left: 0px;" class="">
                      <li class="ilkeylist" style="cursor:pointer" *ngFor="let skill of keySkill"
                        (click)="checkSkill($event,skill.Skill_Title)">
                        <span>{{skill.Skill_Title}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="search-box second-search-box">
                <input type="text" class="form-control location" placeholder="Enter Location" formControlName="location">
              </div>
              <div class="search-box">
                <select class="form-control select-type douple-input-first" formControlName="experience">
                  <option value="option1" disabled selected>Year</option>
                  <option value="0">Freshers</option>
                  <option value="1">1 Year</option>
                  <option value="2">2 Year</option>
                  <option value="3">3 Year</option>
                  <option value="4">4 Year</option>
                  <option value="5">5 Year</option>
                  <option value="6">6 Year</option>
                  <option value="7">7 Year</option>
                  <option value="8">8 Year</option>
                  <option value="9">9 Year</option>
                  <option value="10">10 Year</option>
                  <option value="11">11 Year</option>
                </select>
              </div>

              <div class="search-box">
                <button type="submit" class="btn btn-brand-orange"><img src="../../assets/image/search.png" alt=""
                    class="search-icon" (click)="search()"></button>
              </div>

            </div>

            <div class="advanced-search">
              <button type="submit" class="btn btn-brand-trans"><a href="#">Advanced Search</a></button>

            </div>
          </div>



        </div>
      </div>

    </div>
    <div class="col-2 ad-image">


      <div class="row">



        <div class="col">
          <img src="../../assets/image/myaccountimg2.png" alt="">

        </div>
      </div>



    </div>
  </div>



  <div class="row">

    <div class="col-2">

      <div class="row refine-container no-margin">
        <div class="col">
          <div class="sidebarmenu myprofile refine-sidebar">
            <ul>
              <li class="sidebarmenu-heading"> <span class="icon-custom"><i class='far fa-user'></i></span> <span
                  class="icon-text">All Filters</span>
              </li>

              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Work Mode</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>

              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Qualification</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>
              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Salary</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>
              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Role</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>

              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Freshers</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>

              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Location</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>


              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Company Type</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>

              <li class="refine-content">
                <div class="search-box">
                  <select class="form-control select-type">
                    <option value="option1" selected>Posted by</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                  </select>
                </div>

              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row register-content-row no-padding">
        <div class="col register-content no-margin-all">
          <div class="row no-margin filter-bar">
            <!-- <div class="filter-bar"> -->
            <div class="sort col col-1">
              <i class='fas fa-sort-amount-down'></i>
            </div>
            <div class="jobs col-2">
              <!-- <i class="fa fa-briefcase" aria-hidden="true"></i> -->
              Jobs
            </div>
            <!-- </div> -->
          </div>
          <div class="row no-margin bg-grey ">
            <div class="col">
              <div class="filter-label">
                <span class="badge bg-light text-dark">
                  <span>BA-English</span>
                  <span class="close-mark">x</span>
                </span>
                <span class="badge bg-light text-dark">
                  <span>Chennai</span>
                  <span class="close-mark">x</span>
                </span>
                <span class="badge bg-light text-dark">
                  <span>0 to 2 Years</span>
                  <span class="close-mark">x</span>
                </span>
              </div>
            </div>
          </div>
          <form [formGroup]="searchForm">
            <div class="row content-card-heading no-margin padding10">
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                Company
              </div>
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                Designation
              </div>
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                City
              </div>
              <div class="col title">
                Experience
              </div>
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                Salary
              </div>
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                Posted
              </div>
              <div class="col title">
                <!-- <i class='fas fa-sort-amount-down'></i> -->
                Status
              </div>
            </div>
          </form>
           <div class="row content-card no-margin padding10 main-content" *ngFor="let job of jobs">
            <div class="col">
             {{job.employerregistrations.name}}
            </div>
            <div class="col">
             {{job.jobTittle}}
            </div>
            <div class="col">
            {{job.jobLocation}}
            </div>
            <div class="col">
              {{job.experienceFrom}} To {{job.experienceTo}}
            </div>
            <div class="col">
              {{job.salaryRangeFrom}} To {{job.salaryRangeTo}}
            </div>
            <div class="col">
              {{job.date}}
            </div>
            <div class="col">
              Apply Now
            </div>
          </div>
          <div class="row content-card-footer no-margin padding10">
            <div class="col">

              <div class="footer-menu">
                <div class="pageination-logo">
                  <img src="../../assets/image/left-arrow.png" alt="" class="p-left">
                  <div class="pageination-number">1</div>
                  <img src="../../assets/image/right-arrow.png" alt="" class="p-right">

                </div>
              </div>


            </div>





          </div>









        </div>
      </div>

    </div>

    <div class="col-2">

      <div class="row no-margin">



        <div class="col ad-image">
          <img src="../../assets/image/sidebar-ad.png" alt="">
        </div>
      </div>




    </div>
  </div>
</div>
