<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Post A Job</h3>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col">


                            <form [formGroup]="jobpostForm" (submit)="job_post()">
                                <div class="register-form">
                                    <div class="single-row">
                                        <label for="">Job Title :</label>
                                        <div class="content-box content-box-block">
                                            <input type="text" class="form-control" placeholder="Enter Job Title"
                                                formControlName="jobTittle" [class.is-invalid]="jobpostForm.get('jobTittle').invalid && jobpostForm.get('jobTittle').touched">
                                                <div *ngIf="(jobpostForm.get('jobTittle').invalid && jobpostForm.get('jobTittle').touched) || jobpostForm.get('jobTittle').dirty">
                                                    <small *ngIf="jobpostForm.get('jobTittle').errors?.required" class="text-danger">Jobtittle is required</small>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Job Description :</label>
                                        <div class="content-box content-box-block">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Enter Job Description" [class.is-invalid]="jobpostForm.get('jobDescription').invalid && jobpostForm.get('jobDescription').touched"
                                                formControlName="jobDescription"></textarea>
                                                <div *ngIf="(jobpostForm.get('jobDescription').invalid && jobpostForm.get('jobDescription').touched) || jobpostForm.get('jobDescription').dirty">
                                                    <small *ngIf="jobpostForm.get('jobDescription').errors?.required" class="text-danger">Job description is required</small>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Candidate Description :</label>
                                        <div class="content-box content-box-block">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Enter Candidate Description" [class.is-invalid]="jobpostForm.get('candidateDescription').invalid && jobpostForm.get('candidateDescription').touched"
                                                formControlName="candidateDescription"></textarea>
                                                <div *ngIf="(jobpostForm.get('candidateDescription').invalid && jobpostForm.get('candidateDescription').touched) || jobpostForm.get('candidateDescription').dirty">
                                                    <small *ngIf="jobpostForm.get('candidateDescription').errors?.required" class="text-danger">Candidate description is required</small>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Perks & Benefits :</label>
                                        <div class="content-box">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Enter Perks & Benefits"
                                                formControlName="salaryDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Job Location :</label>
                                        <div class="content-box content-box-block">
                                            <input type="text" class="form-control" ngx-google-places-autocomplete
                                                [options]="options" (onAddressChange)="handleAddressChange($event)" 
                                                placeholder="Enter Job location" formControlName="jobLocation" [class.is-invalid]="jobpostForm.get('jobLocation').invalid && jobpostForm.get('jobLocation').touched">
                                                <div *ngIf="(jobpostForm.get('jobLocation').invalid && jobpostForm.get('jobLocation').touched) || jobpostForm.get('jobLocation').dirty">
                                                    <small *ngIf="jobpostForm.get('jobLocation').errors?.required" class="text-danger">Joblocation is required</small>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Key Skills :</label>
                                        <div class="content-box content-box-block">
                                            <input type="text" class="form-control" (keyup)="dispalye($event)"
                                                placeholder="Enter Key Skills" formControlName="searchbox" [class.is-invalid]="jobpostForm.get('searchbox').invalid && jobpostForm.get('searchbox').touched">
                                                <div *ngIf="(jobpostForm.get('searchbox').invalid && jobpostForm.get('searchbox').touched) || jobpostForm.get('searchbox').dirty">
                                                    <small *ngIf="jobpostForm.get('searchbox').errors?.required" class="text-danger">Keyskill is required</small>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="single-row" *ngIf="isDisplay" style="margin-top:0px;">
                                        <label></label>
                                        <div class="content-box content-box-block" style="background: white;">
                                            <ul style="padding-left: 0px;list-style: none;
                                            margin-left: 12px;">
                                                <li *ngFor="let skill of keySkill" style="cursor:pointer"
                                                    (click)="checkSkill($event,skill)">
                                                    <span>{{skill?.Skill_Title}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Education :</label>
                                        <div class="content-box">
                                            <div class="dropdown salarybtn">
                                                <button *ngIf="educationArray.length == 0" class="btn dropdown-toggle salarybtn refhead" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false" style="background: white;color: #B4B4B4">
                                                     Select Qualification
                                                </button>
                                                <button *ngIf="educationArray.length>0" class="btn dropdown-toggle salarybtn refhead" type="button"
                                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false" style="background: white;">
                                                    <span class="badge1"  (click)="rem(data)" *ngFor="let data of educationArray">{{data.coursename}} - {{data.spclname}} <span class="remove">x</span></span>
                                                </button>
                                                <ul class="dropdown-menu p-3 data" aria-labelledby="dropdownMenuButton1">
                                                    <li *ngFor="let data of qua_data"><input type="checkbox"
                                                        class="checkbox" value="{{data}}"
                                                        (change)="selectqualificaion(data,$event)">
                                                        <span class="fsize" style="margin-left:10px">{{data.qualification}}</span>
                                                        <ul class="p-3 data" *ngIf="is_course && quaname==data.qualification">
                                                            <li *ngFor="let data of coursedata"><input type="checkbox"
                                                                    class="checkbox" value="{{data}}"
                                                                    (change)="selectcourse(data,$event)">
                                                                  <span class="fsize" style="margin-left:10px">{{data.Course}}</span>
                                                                <ul class="subdata" *ngIf="is_open && coursename==data.Course">
                                                                    <li *ngFor="let data of spcldata"><input
                                                                            type="checkbox" class="checkbox"
                                                                            value="{{data}}" [checked]="isChecke(data.Specialization)" (change)="selectspcl(data,$event)">
                                                                <span class="fsize" style="margin-left:10px">{{data.Specialization}}</span></li>
                                                                </ul>
                                                            </li>
        
                                                        </ul>
                                                    </li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Salary Range :</label>
                                        <div class="content-box">
                                            <input type="number" class="form-control douple-input-first"
                                                placeholder="From" formControlName="salaryRangeFrom">
                                            <input type="number" class="form-control douple-input-second"
                                                placeholder="To" formControlName="salaryRangeTo">
                                        </div>
                                    </div>

                                    <div class="single-row">
                                        <label for="">Experience :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type douple-input-first"
                                                formControlName="experienceFrom" [class.is-invalid]="jobpostForm.get('experienceFrom').invalid && jobpostForm.get('experienceFrom').touched">
                                                <option value="option1" disabled selected>Year</option>
                                                <option value="0">0 Year</option>
                                                <option value="1">1 Year</option>
                                                <option value="2">2 Year</option>
                                                <option value="3">3 Year</option>
                                                <option value="4">4 Year</option>
                                                <option value="5">5 Year</option>
                                                <option value="6">6 Year</option>
                                                <option value="7">7 Year</option>
                                                <option value="8">8 Year</option>
                                                <option value="9">9 Year</option>
                                                <option value="10">10 Year</option>
                                                <option value="11">11 Year</option>
                                            </select>


                                            <select class="form-control select-type douple-input-second"
                                                formControlName="experienceTo" [class.is-invalid]="jobpostForm.get('experienceTo').invalid && jobpostForm.get('experienceTo').touched">
                                                <option value="option1" disabled selected>Year</option>
                                                <option value="0">0 Year</option>
                                                <option value="1">1 Year</option>
                                                <option value="2">2 Year</option>
                                                <option value="3">3 Year</option>
                                                <option value="4">4 Year</option>
                                                <option value="5">5 Year</option>
                                                <option value="6">6 Year</option>
                                                <option value="7">7 Year</option>
                                                <option value="8">8 Year</option>
                                                <option value="9">9 Year</option>
                                                <option value="10">10 Year</option>
                                                <option value="11">11 Year</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="single-row">
                                        <label for="">Industry :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="industry" [class.is-invalid]="jobpostForm.get('industry').invalid && jobpostForm.get('industry').touched">
                                                <option disabled [ngValue]="null" selected value="select">Select
                                                </option>
                                                <option value="{{industry.Industry}}"
                                                    *ngFor="let industry of indus_data">{{industry.Industry}}</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('industry').invalid && jobpostForm.get('industry').touched) || jobpostForm.get('industry').dirty">
                                                <small *ngIf="jobpostForm.get('industry').errors?.required" class="text-danger">Industry is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Preferred Industry :</label>
                                        <div class="content-box content-box-block">
                                            <!-- <select class="form-control select-type" formControlName="preferedIndustry">
                                        <option disabled [ngValue]="null" selected value="select">Select</option>
                                        <option value="{{industry.Industry}}" *ngFor="let industry of indus_data">{{industry.Industry}}</option>
                                    </select> -->
                                            <ng-multiselect-dropdown id="courseInput" class="w-100"
                                                style="background-color: white;" name='industry'
                                                [settings]="dropdownSettings" [data]="indus_data"
                                                (onSelect)="pushCourse($event)"  [class.is-invalid]="jobpostForm.get('preferedIndustry').invalid && jobpostForm.get('preferedIndustry').touched">
                                            </ng-multiselect-dropdown>
                                            <!-- <div *ngIf="(jobpostForm.get('preferedIndustry').invalid && jobpostForm.get('preferedIndustry').touched) || jobpostForm.get('preferedIndustry').dirty">
                                                <small *ngIf="jobpostForm.get('preferedIndustry').errors?.required" class="text-danger">Preferred industry is required</small>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- <div>
                                <div>
                                    <button class="drop-toggle btn flat">
                                        <span>Select</span>
                                        <span>{{checkedList.join(', ')}}</span>
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <div class="drop-show" *ngIf="showDropDown">
                                        <label *ngFor="let a of list">
                                            <input type="checkbox" [(ngModel)]="a.checked" 
                                                (change)="getSelectedValue(a.checked,a.name)" />
                                            <span>{{a.name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                                    <div class="single-row">
                                        <label for="">Department :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="department"
                                                (change)="depart($event)" [class.is-invalid]="jobpostForm.get('department').invalid && jobpostForm.get('department').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="{{depart_list._id}}"
                                                    *ngFor="let depart_list of depart_data">{{depart_list.Department}}
                                                </option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('department').invalid && jobpostForm.get('department').touched) || jobpostForm.get('department').dirty">
                                                <small *ngIf="jobpostForm.get('department').errors?.required" class="text-danger">Department is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="jobpostForm.get('department')?.value">
                                        <label for="">Role Category :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="roleCategory"
                                                (change)="cat($event)" [class.is-invalid]="jobpostForm.get('roleCategory').invalid && jobpostForm.get('roleCategory').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="{{cat_list._id}}" *ngFor="let cat_list of cat_data">
                                                    {{cat_list.Role_Category}}</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('roleCategory').invalid && jobpostForm.get('roleCategory').touched) || jobpostForm.get('roleCategory').dirty">
                                                <small *ngIf="jobpostForm.get('roleCategory').errors?.required" class="text-danger">Role category is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="jobpostForm.get('roleCategory')?.value">
                                        <label for="">Role :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="role" [class.is-invalid]="jobpostForm.get('role').invalid && jobpostForm.get('role').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="{{role_list._id}}" *ngFor="let role_list of role_data">
                                                    {{role_list.Job_role}}</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('role').invalid && jobpostForm.get('role').touched) || jobpostForm.get('role').dirty">
                                                <small *ngIf="jobpostForm.get('role').errors?.required" class="text-danger">Role is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Interview Type :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="interviewType" [class.is-invalid]="jobpostForm.get('interviewType').invalid && jobpostForm.get('interviewType').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="walk in">Walk In</option>
                                                <option value="online">Online</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('interviewType').invalid && jobpostForm.get('interviewType').touched) || jobpostForm.get('interviewType').dirty">
                                                <small *ngIf="jobpostForm.get('interviewType').errors?.required" class="text-danger">Interview type is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row"
                                        *ngIf="jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Date :</label>
                                        <div class="content-box">
                                            <input type="date" class="form-control douple-input-first"
                                                placeholder="From" formControlName="interviewstartDate" [class.is-invalid]="jobpostForm.get('interviewstartDate').invalid && jobpostForm.get('interviewstartDate').touched">
                                            
                                            <input type="date" class="form-control douple-input-second" placeholder="To"
                                            formControlName="interviewendDate" [class.is-invalid]="jobpostForm.get('interviewendDate').invalid && jobpostForm.get('interviewendDate').touched">
                                           
                                        </div>
                                    </div>
                                    <div class="single-row"
                                        *ngIf="jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Time :</label>
                                        <div class="content-box">
                                            <select class="form-control select-type" formControlName="startTime" [class.is-invalid]="jobpostForm.get('startTime').invalid && jobpostForm.get('startTime').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>From</option>
                                                <option value="08.00 Am">08.00 Am</option>
                                                <option value="08.30 Am">08.30 Am</option>
                                                <option value="09.00 Am">09.00 Am</option>
                                                <option value="09.30 Am">09.30 Am</option>
                                                <option value="10.00 Am">10.00 Am</option>
                                                <option value="10.30 Am">10.30 Am</option>
                                                <option value="11.00 Am">11.00 Am</option>
                                                <option value="1.30 Am">11.30 Am</option>
                                                <option value="12.00 Pm">12.00 Pm</option>
                                                <option value="12.30 Pm">12.30 Pm</option>
                                                <option value="01.00 Pm">01.00 Pm</option>
                                                <option value=">01.30 Pm">01.30 Pm</option>
                                                <option value="02.00 Pm">02.00 Pm</option>
                                                <option value="02.30 Pm">02.30 Pm</option>
                                                <option value="03.00 Pm">03.00 Pm</option>
                                                <option value="03.30 Pm">03.30 Pm</option>
                                                <option value="04.00 Pm">04.00 Pm</option>
                                                <option value="04.30 Pm">04.30 Pm</option>
                                                <option value="05.00 Pm">05.00 Pm</option>
                                                <option value="05.30 Pm">05.30 Pm</option>
                                                <option value="06.00 Pm">06.00 Pm</option>
                                            </select>
                                            <select class="form-control select-type" formControlName="endTime" [class.is-invalid]="jobpostForm.get('endTime').invalid && jobpostForm.get('endTime').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>To</option>
                                                <option value="08.00 Am">08.00 Am</option>
                                                <option value="08.30 Am">08.30 Am</option>
                                                <option value="09.00 Am">09.00 Am</option>
                                                <option value="09.30 Am">09.30 Am</option>
                                                <option value="10.00 Am">10.00 Am</option>
                                                <option value="10.30 Am">10.30 Am</option>
                                                <option value="11.00 Am">11.00 Am</option>
                                                <option value="11.30 Am">11.30 Am</option>
                                                <option value="12.00 Pm">12.00 Pm</option>
                                                <option value="12.30 Pm">12.30 Pm</option>
                                                <option value="01.00 Pm">01.00 Pm</option>
                                                <option value="01.30 Pm">01.30 Pm</option>
                                                <option value="02.00 Pm">02.00 Pm</option>
                                                <option value="02.30 Pm">02.30 Pm</option>
                                                <option value="03.00 Pm">03.00 Pm</option>
                                                <option value="03.30 Pm">03.30 Pm</option>
                                                <option value="04.00 Pm">04.00 Pm</option>
                                                <option value="04.30 Pm">04.30 Pm</option>
                                                <option value="05.00 Pm">05.00 Pm</option>
                                                <option value="05.30 Pm">05.30 Pm</option>
                                                <option value="06.00 Pm">06.00 Pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Employment Type :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="employmentType" [class.is-invalid]="jobpostForm.get('employmentType').invalid && jobpostForm.get('employmentType').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="fulltime">Full Time</option>
                                                <option value="parttime">Part Time</option>
                                                <option value="contract">Contract</option>
                                                <option value="temporary">Temporary</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('employmentType').invalid && jobpostForm.get('employmentType').touched) || jobpostForm.get('employmentType').dirty">
                                                <small *ngIf="jobpostForm.get('employmentType').errors?.required" class="text-danger">Employent type is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">No. Of. Openings :</label>
                                        <div class="content-box">
                                            <input type="number" class="form-control"
                                                placeholder="Enter No. Of. Openings" formControlName="openings">
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">Work Mode :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" formControlName="workplaceType" [class.is-invalid]="jobpostForm.get('workplaceType').invalid && jobpostForm.get('workplaceType').touched">
                                                <option value="option1" [ngValue]="null" disabled selected>Select
                                                </option>
                                                <option value="onsite">Onsite</option>
                                                <option value="hybrid">Hybrid</option>
                                                <option value="work from home">Work From Home</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('workplaceType').invalid && jobpostForm.get('workplaceType').touched) || jobpostForm.get('workplaceType').dirty">
                                                <small *ngIf="jobpostForm.get('workplaceType').errors?.required" class="text-danger">Workmode is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row">
                                        <label for="">URL to Apply :</label>
                                        <div class="content-box">
                                            <input type="url" class="form-control" placeholder="Enter URL"
                                                formControlName="urltoApply">
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="jobpostForm.get('interviewType')?.value == 'online'">
                                        <label for="">Apply Method :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" (change)="choose_apply($event)" formControlName ="apply_method" [class.is-invalid]="jobpostForm.get('apply_method').invalid && jobpostForm.get('apply_method').touched">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="email">Email</option>
                                                <option value="telephone">Telephonic Applicant</option>
                                                <option value="treatjobs">Apply via Treatjobs</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('apply_method').invalid && jobpostForm.get('apply_method').touched) || jobpostForm.get('apply_method').dirty">
                                                <small *ngIf="jobpostForm.get('apply_method').errors?.required" class="text-danger">Applymethod is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-row" *ngIf="jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Recruiter Details :</label>
                                        <div class="content-box">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="list"
                                                    (change)="recriterlist($event)" name="flexRadioDefault"
                                                    id="flexRadioDefault1" formControlName="recruiterList" [class.is-invalid]="jobpostForm.get('recruiterList').invalid && jobpostForm.get('recruiterList').touched">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Recruiter List
                                                </label>
                                            </div>
                                            <div class="form-check ms-5">
                                                <input class="form-check-input" type="radio" value="new"
                                                    (change)="recriterlist($event)" name="flexRadioDefault"
                                                    id="flexRadioDefault1" formControlName="recruiterList" [class.is-invalid]="jobpostForm.get('recruiterList').invalid && jobpostForm.get('recruiterList').touched">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    New Recruiter
                                                </label>
                                            </div>
                                            <div *ngIf="(jobpostForm.get('recruiterList').invalid && jobpostForm.get('recruiterList').touched) || jobpostForm.get('recruiterList').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterList').errors?.required" class="text-danger">field is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="is_list && jobpostForm.get('interviewType')?.value == 'walk in'" >
                                        <label for="">Select Recruiter :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" (change)="changerecruiter($event)" formControlName="recruiterName" [class.is-invalid]="jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="{{data.recruiterName}}" *ngFor="let data of list">{{data.recruiterName}}</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched) || jobpostForm.get('recruiterName').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterName').errors?.required" class="text-danger">choose any one recruiter</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="is_new && jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Recruiter Name :</label>
                                        <div class="content-box content-box-block">
                                            <input type="text" class="form-control" placeholder="Enter Name"
                                                formControlName="recruiterName" [class.is-invalid]="jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched">
                                                <div *ngIf="(jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched) || jobpostForm.get('recruiterName').dirty">
                                                    <small *ngIf="jobpostForm.get('recruiterName').errors?.required" class="text-danger">recruiter name is required</small>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="single-row" *ngIf="is_new && jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Recruiter Email Id :</label>
                                        <div class="content-box content-box-block">
                                            <input type="email" class="form-control" placeholder="Enter Email ID"
                                                formControlName="recruiterEmail" [class.is-invalid]="jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched) || jobpostForm.get('recruiterEmail').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterEmail').errors?.required" class="text-danger">recruiter email is required</small>
                                            </div>    
                                        </div>
                                    </div>

                                    <div class="single-row" *ngIf="is_new && jobpostForm.get('interviewType')?.value == 'walk in'">
                                        <label for="">Recruiter Number :</label>
                                        <div class="content-box content-box-block">
                                            <input type="number" class="form-control" placeholder="Enter Number"
                                                formControlName="recruiterNumber" [class.is-invalid]="jobpostForm.get('recruiterNumber').invalid && jobpostForm.get('recruiterNumber').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterNumber').invalid && jobpostForm.get('recruiterNumber').touched) || jobpostForm.get('recruiterNumber').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterNumber').errors?.required" class="text-danger">recruiter number is required</small>
                                            </div> 
                                        </div>
                                    </div>





                                    <div class="single-row" *ngIf="jobpostForm.get('interviewType')?.value == 'online' && apply_method == 'telephone'">
                                        <label for="">Recruiter Details :</label>
                                        <div class="content-box">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="list1"
                                                    (change)="recriterlist1($event)" name="flexRadioDefault"
                                                    id="flexRadioDefault1" formControlName="recruiterList1" [class.is-invalid]="jobpostForm.get('recruiterList1').invalid && jobpostForm.get('recruiterList1').touched">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Recruiter List
                                                </label>
                                            </div>
                                            <div class="form-check ms-5">
                                                <input class="form-check-input" type="radio" value="new1"
                                                    (change)="recriterlist1($event)" name="flexRadioDefault"
                                                    id="flexRadioDefault1" formControlName="recruiterList1" [class.is-invalid]="jobpostForm.get('recruiterList1').invalid && jobpostForm.get('recruiterList1').touched">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    New Recruiter
                                                </label>
                                            </div>
                                            <div *ngIf="(jobpostForm.get('recruiterList').invalid && jobpostForm.get('recruiterList').touched) || jobpostForm.get('recruiterList').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterList').errors?.required" class="text-danger">field is required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="is_list1 && jobpostForm.get('interviewType')?.value == 'online' && apply_method == 'telephone'" >
                                        <label for="">Select Recruiter :</label>
                                        <div class="content-box content-box-block">
                                            <select class="form-control select-type" (change)="changerecruiter($event)" formControlName="recruiterName" [class.is-invalid]="jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched">
                                                <option value="option1" disabled selected>Select</option>
                                                <option value="{{data.recruiterName}}" *ngFor="let data of list">{{data.recruiterName}}</option>
                                            </select>
                                            <div *ngIf="(jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched) || jobpostForm.get('recruiterName').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterName').errors?.required" class="text-danger">choose any one recruiter</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-row" *ngIf="is_new1 && jobpostForm.get('interviewType')?.value == 'online' && apply_method == 'telephone'">
                                        <label for="">Recruiter Name :</label>
                                        <div class="content-box content-box-block">
                                            <input type="text" class="form-control" placeholder="Enter Name"
                                                formControlName="recruiterName" [class.is-invalid]="jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterName').invalid && jobpostForm.get('recruiterName').touched) || jobpostForm.get('recruiterName').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterName').errors?.required" class="text-danger">recruiter name is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-row" *ngIf="is_new1 && jobpostForm.get('interviewType')?.value == 'online' && apply_method == 'telephone'">
                                        <label for="">Recruiter Email Id :</label>
                                        <div class="content-box content-box-block">
                                            <input type="email" class="form-control" placeholder="Enter Email ID"
                                                formControlName="recruiterEmail" [class.is-invalid]="jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched) || jobpostForm.get('recruiterEmail').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterEmail').errors?.required" class="text-danger">recruiter email is required</small>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="single-row" *ngIf="is_new1 && jobpostForm.get('interviewType')?.value == 'online' && apply_method == 'telephone'">
                                        <label for="">Recruiter Number :</label>
                                        <div class="content-box content-box-block">
                                            <input type="number" class="form-control" placeholder="Enter Number"
                                                formControlName="recruiterNumber" [class.is-invalid]="jobpostForm.get('recruiterNumber').invalid && jobpostForm.get('recruiterNumber').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterNumber').invalid && jobpostForm.get('recruiterNumber').touched) || jobpostForm.get('recruiterNumber').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterNumber').errors?.required" class="text-danger">recruiter number is required</small>
                                            </div> 
                                        </div>
                                    </div>


                                    <div class="single-row" *ngIf="apply_method == 'email' && jobpostForm.get('interviewType')?.value == 'online'">
                                        <label for="">Recruiter Email Id :</label>
                                        <div class="content-box content-box-block">
                                            <input type="email" class="form-control" placeholder="Enter Email ID"
                                                formControlName="recruiterEmail" [class.is-invalid]="jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched">
                                            <div *ngIf="(jobpostForm.get('recruiterEmail').invalid && jobpostForm.get('recruiterEmail').touched) || jobpostForm.get('recruiterEmail').dirty">
                                                <small *ngIf="jobpostForm.get('recruiterEmail').errors?.required" class="text-danger">recruiter email is required</small>
                                            </div> 
                                            </div>
                                    </div>
                                    <div class="single-row douple-btn">
                                        <div class="content-box">
                                            <button type="submit"
                                                class="btn btn-brand-grey mb-2 btn-custom">Preview</button>
                                        </div>
                                        <div class="content-box">
                                            <button type="submit"
                                                class="btn btn-brand-blue mb-2 btn-custom">Post</button>
                                        </div>
                                    </div>


                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>